@import "./variables.css";

#body {
    background-color: var(--main);
    background-image: url('../assets/wavecut.png')
}

a {
    color: var(--secondarie-light);
}

a:hover {
    color: var(--secondarie);
}