@import "./variables.css";

.navbara {
    background-color: var(--main-darker);
    background-image: url('../assets/wavecut.png');
    z-index: 100;
    color: var(--secondarie) !important;
}

.navbar-start a:hover {
    background-color: var(--main-dark) !important;
    color: var(--secondarie-light);
    background-image: url('../assets/wavecut.png');
}

.navbar-end a:hover {
    background-color: var(--main-dark) !important;
    color: var(--secondarie-light);
    background-image: url('../assets/wavecut.png');
}

/* .navbar-end {
    background-color: var(--main-darker);
    background-image: url('../assets/wavecut.png');
}

.navbar-item {
    background-color: var(--main-darker);
    background-image: url('../assets/wavecut.png');
} */

.navbar-menu {
    background-color: var(--main-darker);
    background-image: url('../assets/wavecut.png');
}