:root {
    --main: #c4e0f9;
    --main-dark: #9bbdf9;
    --main-darker: #67aaf9;
    --secondary: rgb(178, 66, 206);
    --secondary-light: rgb(216, 107, 238);
    --secondary-dark: rgb(139, 46, 192);
    --accent: #b95f89;
    --accent-light: #ce6f9b;
    --accent-dark: #ad4e7b;
    --extra: rgb(245, 247, 166);
}